---
layout: default
has_carousel: true
---

<div class="featurette-divider"></div>
{% assign featurettes = site.posts | where: "category","featurette" %}
{% for featurette in featurettes %}
  <div class="row featurette">
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="col-md-8 {% if thecycle == 'even' %}order-md-2{% endif %}">
      <h2 class="featurette-heading">{{ featurette.title }}</h2>
      {{ featurette.content }}
    </div>
    <div class="col-md-4 {% if thecycle == 'even' %}order-md-1{% endif %}">
      <picture>
        <source type="image/webp" srcset="/images/featurettes/{{ featurette.webp }}">
        <source type="{{ featurette.image_mime }}" srcset="/images/featurettes/{{ featurette.image }}">
        <img class="featurette-image img-fluid d-block mx-auto rounded"
             src="/images/featurettes/{{ featurette.image }}" alt="{{ featurette.alt }}">
      </picture>
    </div>
  </div>

  <hr class="featurette-divider">
{% endfor %}
