<amp-carousel
  layout="responsive"
  type="slides"
  width="1600"
  height="540"
  controls
  loop
  autoplay
  delay="3000"
  data-next-button-aria-label="Go to next slide"
  data-previous-button-aria-label="Go to previous slide"
  class="header-margin-bottom"
  >
  {% assign banners = site.data.banners %}
  {% for banner in banners %}
    <amp-img
      alt="{{ banner.alt }}"
      width="{{ banner.width }}"
      height="{{ banner.height }}"
      layout="responsive"
      src="/images/banners/{{ banner.name }}.webp"
      srcset="{% for image in banner.images %}/images/banners/{{ image.name }}.webp {{ image.width }}w{% unless forloop.last == true %}, {% endunless %}{% endfor %}"
    >
      <amp-img
        alt="{{ banner.alt }}"
        width="{{ banner.width }}"
        height="{{ banner.height }}"
        layout="responsive"
        fallback
        src="/images/banners/{{ banner.name }}.png"
        srcset="{% for image in banner.images %}/images/banners/{{ image.name }}.png {{ image.width }}w{% unless forloop.last == true %}, {% endunless %}{% endfor %}"
        >
      </amp-img>
    </amp-img>
  {% endfor %}
</amp-carousel>
