<amp-carousel
  layout="responsive"
  type="slides"
  width="1600"
  height="540"
  controls
  loop
  autoplay
  delay="3000"
  data-next-button-aria-label="Go to next slide"
  data-previous-button-aria-label="Go to previous slide"
  class="header-margin-bottom"
  >
  {% assign banners = site.data.banners %}
  {% for banner in banners %}
    <amp-img
      alt="{{ banner.alt }}"
      width="1600"
      height="540"
      layout="responsive"
      src="/images/banners/{{ banner.webp }}"
    >
      <amp-img
        alt="{{ banner.alt }}"
        width="1600"
        height="540"
        layout="responsive"
        fallback
        src="/images/banners/{{ banner.image }}"
      >
      </amp-img>
    </amp-img>
    <!-- <figcaption>{{ banner.title }}</figcaption> -->
  {% endfor %}
</amp-carousel>
