<footer class="row">
  <div id="footer_toolbar" class="center"></div>
</footer>

<amp-sidebar id="footer_menu" layout="nodisplay">
  <nav toolbar="(min-width: 0px)" toolbar-target="footer_toolbar">
    <ul>
      <li><a href="https://www.linkedin.com/{{ site.linkedin_url }}">My LinkedIn</a></li>
      <li><a href="https://github.com/{{ site.github_username }}">My GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}">My Twitter</a></li>
      <li><a href="#page_top" on="tap:page_top.scrollTo">Back to top</a></li>
      <li><a href="https://github.com/{{ site.github_repo }}">Source code</a></li>
    </ul>
  </nav>
</amp-sidebar>
