<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include navbar.html %}

    {% include carousel.html %}

    <div class="container marketing">

      {{ content }}

      {% include footer.html %}

    </div>

    <script src="{{ '/js/bootstrap-native.min.js' | relative_url }}"></script>

  <script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', function() {
      navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}").then(function() {
        console.log("Service Worker Registered");
      });
    });
  }
  </script>

  </body>

</html>
