<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="page-top">

    {% include navbar.html %}

    {% if page.has_carousel %}
      {% include carousel.html %}
    {% endif %}

    <div class="container marketing">

      {{ content }}

      {% if page.comments %}
      <div id="disqus_thread">
        <script>
          var disqus_config = function () {
            this.page.url = "{{ page.url | replace:'index.html','' | absolute_url }}";
            this.page.identifier = "{{ page.page_id }}";
            this.page.title = "{{ page.title }}";
          };
        </script>
  
        <script src="//csaba.disqus.com/embed.js" data-timestamp="{{ date | date: "%s" | times: 100 }}" async></script>

        <noscript>JavaScript is required to view 
          <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
      {% endif %}
  
      {% include footer.html %}

    </div>

    <script src="{{ "/js/jquery-3.3.1.slim.min.js" | relative_url }}"></script>
    <script src="{{ "/js/bootstrap.bundle.min.js" | relative_url }}"></script>

    <script>
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function() {
          navigator.serviceWorker.register("{{ '/sw.js' | relative_url }}").then(function() {
            console.log("Service Worker Registered");
          });
        });
      }
    </script>

    {% if page.comments %}
      <script id="dsq-count-scr" src="//csaba.disqus.com/count.js" async></script>
    {% endif %}

  </body>

</html>
